#accordion a{
	text-decoration: none;
}

#accordion :focus, :active{
	outline: 0;
}

#accordion *{
	@include box-size(border-box);
}

#accordion{
	width: 750px;
    margin: 40px auto;
    text-align: left;
    margin-top: 100px;
}

#accordion .ui-accordion-content {
    width: 95%;
    background-color: #f3f3f3;
    color: #777;
    @extend .body-copy;
    margin-left: 20px;
    padding: 10px 10px 0px 10px;

}

#accordion .ui-accordion-content > * {
    margin: 0;
    padding: 20px;
}

#accordion .ui-accordion-content a {
    color: #777;
}

#accordion .ui-accordion-header {
    background-color: #ccc;
    margin: 0px;
    @include rounded-corners(7px);
}

#accordion .ui-accordion-header a {
    color: #fff;
    line-height: 42px;
    display: block;
    font-size: 20pt;
    width: 100%;
    text-indent: 10px;
    font-family: Woodland-Thin;
    padding: 7px;
}

#accordion .ui-accordion-header:nth-of-type(even) {
    background-color: $brand-light-brown;
}

#accordion .ui-accordion-header:nth-of-type(odd) {
    background-color: $brand-dark-brown;
}

#accordion .ui-accordion-content {
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .2);
}
#accordion .ui-accordion-content:last-of-type {
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .2),
                inset 0px 0 0px 0px rgba(0, 0, 0, .5);
}

#accordion i { 
    -webkit-transition:all 300ms ease-in 0s;
    -moz-transition: all 300ms ease-in 0s;
    -o-transition: all 300ms ease-in 0s;
  transition: all 300ms ease-in 0s;
  margin-right: 15px;
  margin-top: 2px;
}


.ui-state-active i {
    color: #f3f3f3;
    @include image-rotate(90deg);
}