$brand-black: #36372f;
$brand-green: #83aa4a;
$bg-tan: #E7E6D4;
$brand-grey: #8E8F7F;
$brand-dark-brown: #B28536;
$brand-light-brown: #E1B751;
$high-contrast-brown: #7c5b28;
$nav-tan: #e0dfce;
$bg-white: #EBEBEB;